.img-child {
  background-image: url(../../../images/child.jpg);
  background-size: cover;
  height: 300px;
  background-position: center center;
}

.img-adult {
  background-image: url(../../../images/adult.jpg);
  background-size: cover;
  height: 300px;
  background-position: center center;
}

.img-abroad {
  background-image: url(../../../images/bigben.jpg);
  background-size: cover;
  height: 300px;
  background-position: center center;
}

.img-group {
  background-image: url(../../../images/group.jpg);
  background-size: cover;
  height: 300px;
  background-position: center center;
}